<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Api</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h2>{{>header}}</h2>
    <div class="weatherData">
        <h2>Country is : {{name}}</h2>
        <h2>Longtitude is : {{longtitude}}</h2>
        <h2>Latitude is : {{latitude}}</h2>
        <h2>Weather status is : {{status}}</h2>
        <h2>Temperature is : {{temp}}</h2>
    </div>
    
</body>
</html>